@import('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

body {
    padding: 0 0 20px 0;
}

.navbar {
    border-radius: 0 !important;    
    border: none !important;
}

.form-control-feedback {
    height: 46px;
    width: 46px;
    z-index: 10;
    line-height: 46px;
    font-size: 20px;
}

.ymap {
    background-color: #e7e7e7; 
}
